*{
  margin: 0px auto;
}

body {
  background: url('../images/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}

h1, h2 {
  text-align: center;
}

img {
  border: dashed 5px #FF9900;
  margin: 10px;
}

ul {
  color: white;
}

p {
  margin-bottom: 5px;
}

#header {
  margin-top: 35px;
  text-align: center;
  background-color: #FF9900;
  border-bottom: 5px solid #6599FF;
  border-top: 5px solid #6599FF;
  color: white;
  padding-top: 10px;
}

#content{
  
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;  
  background-color: #097054;
  border: 1px solid #FF9900;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

#menu a{
  color: white;
  text-decoration: none;
}


#menu li{
  display: inline;
  padding-left: 5px;  
}

#menu li a:hover{
  background-color: #FF9900;
  text-decoration:underline;
  text-decoration-color: blue;
}

#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #097054;
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;
}

#footer a{
  color: white;
  text-decoration: none;
}

#footer a:hover{
  color: #443266;
  background-color: white;
  text-decoration: none;
}
#image {
  text-align: right;
  margin-right: 60px;
}


#imageLeft {
  float: left;
  text-align: center;
  padding-bottom: 5px;
}

#imageRight {
  float: right;
  text-align: center;
  padding-bottom: 5px;
}

#textMain {
  clear: both;
  
}

#imageToHide {
  float: left;
  text-align: center;
  margin-bottom: 40px;
 
}

#textCookie {
  text-align: center;
}

#cookieEU {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  width: 60%;
  padding: 10px;  
  border: 2px solid red;
  background-color: white;
  box-shadow: 2px 2px 50px black;
}

#textOverflow {
  overflow-y: scroll;
  overflow-x: hidden; 
  height: 250px;
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
  margin-right: 20px;
}

#textCentral {
  margin-top: 10px;
  padding: 15px;
  border: 5px dashed black;
  background-color: white;
  margin: 10px 250px ;
  border-radius: 30px 30px 30px 30px ;     /* resto */
}

.button {
  	background-color: #097054; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@media all and (max-width: 500px) {
  #imageLeft {
    float: none;
    text-align: center;
    padding-bottom: 5px;
  }

  #imageRight {
    float: none;
    text-align: center;
    clear: both;
  padding-bottom: 5px;
  }
  
  #textCentral {
    margin: 0px 0px ;
  }
  
  #imageToHide {
    display: none;
    text-align: center;
    margin-bottom: 40px;
  }
  
  #textOverflow {
    margin-right: 0px;
  }
  
  #header {
    margin-top: 50px;
  }
 
}

@media all and (max-width: 300px) {
  #header {
    display: none;
    text-align: center;
    margin-top: 100px;
  }
}